<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="sigarh.hibernate.validator" slot="4.1.0">

    <resources>
		<resource-root path="hibernate-validator-4.1.0.Final.jar"/>
		<resource-root path="validation-api-1.0.0.GA.jar"/>
    </resources>
	
	<dependencies>
		<module name="javax.api" export="true"/>
		<module name="javax.persistence.api" export="true"/>
		<module name="javax.validation.api" export="true"/>
		<module name="javax.persistence.api" export="true"/>
		<module name="javax.xml.bind.api" export="true"/>
		<module name="org.jboss.logging" export="true"/>
		<module name="org.jboss.common-core" export="true"/>
		<module name="org.joda.time" export="true"/>
		<module name="org.slf4j" export="true"/>
		<module name="org.apache.xerces" services="import"/>
		<module name="sun.jdk" services="import"/>
    </dependencies>
</module>
