<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="sigarh.jasperreport" slot="3.5.1">
    <resources>
		<resource-root path="jasperreports-3.5.1.jar"/>
		<resource-root path="commons-collections-3.1.jar"/>
		<resource-root path="commons-logging-1.1.1.jar"/>
		<resource-root path="commons-beanutils.jar"/>
		<resource-root path="commons-digester.jar"/>
		<resource-root path="jdtcore-3.1.0.jar"/>
		<resource-root path="rt.jar"/>	
    </resources>
</module>
